/* line 5, ../scss/_base.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 9, ../scss/_base.scss */
body {
  background: url(../img/bkg2.jpg) no-repeat top left fixed;
  font-family: "circular", sans-serif;
  background-size: cover;
  color: white;
}

@font-face {
  font-family: "grobe";
  src: url(../fonts/grobe-deutschmeister.ttf);
}
@font-face {
  font-family: "circular-italic";
  src: url(../fonts/circular-medium-italic.otf);
}
@font-face {
  font-family: "circular";
  src: url(../fonts/circular-book.otf);
}
@font-face {
  font-family: "circular-bold";
  src: url(../fonts/circular-bold.otf);
}
/* line 40, ../scss/_base.scss */
.container {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

/* line 54, ../scss/_base.scss */
#january {
  display: block;
}

/* line 61, ../scss/_base.scss */
a:link {
  text-decoration: none;
  color: gray;
}

/* line 66, ../scss/_base.scss */
a:visited {
  color: gray;
}

/* line 70, ../scss/_base.scss */
a:hover {
  color: #f50149;
}

/* line 74, ../scss/_base.scss */
a:active {
  color: rgba(0, 255, 42, 0.6);
}

/* line 80, ../scss/_base.scss */
header {
  margin-top: -3vw;
  width: 100%;
  position: fixed;
}
/* line 84, ../scss/_base.scss */
header h1 {
  font-family: 'grobe';
  color: #080138;
  text-align: right;
  float: right;
  margin-right: 3vw;
    width: 120px;
    font-size: 33px;
    line-height: 37px;
    padding-right: 20px;
/*    color: white;
*/}

/* line 97, ../scss/_base.scss */
h2 {
    font-family: 'circular';
    color: white;
    opacity: .7;
    font-size: 30px;
    margin-left: 1.5vw;
    margin-top: 30px;
    position: fixed;
    display: inline;
    float: left;
    vertical-align: baseline;
    margin-right: auto;
    width: 222px;
    display: flex;
    justify-content: space-between;
}

/* line 114, ../scss/_base.scss */
h2:hover {
  color: white;
  opacity: 1;
}

/* line 122, ../scss/_base.scss */
.fa {
color: #00FF2A;
    top: 0px;
    position: relative;
    font-size: 42px;
    height: 20px;
    /* width: 18px; */
    cursor: pointer;
    /* -webkit-text-stroke: 1.5px #00FF2A; */
}

/* line 132, ../scss/_base.scss */
.fa-caret-right {
  margin-left: 8px;
}

/* line 136, ../scss/_base.scss */
.fa:hover {
  color: rgba(245, 1, 73, 0.7);
}

/* line 140, ../scss/_base.scss */
.fa:active {
  color: #a631e2;
}

/* line 145, ../scss/_base.scss */
#janleft {
  opacity: 0;
}

/* line 149, ../scss/_base.scss */
#decright {
  opacity: 0;
}

/* line 155, ../scss/_base.scss */
ul {
    position: absolute;
    top: 100px;
    width: 100%;
    padding-left: 0px;
    margin-left: -8px;
    max-height: 80%;
    overflow: scroll;
}

/* line 170, ../scss/_base.scss */
ul::-webkit-scrollbar {
  display: none;
}

/* line 176, ../scss/_base.scss */
li {
    display: block;
    width: 100%;
    /* padding-bottom: 10vw; */
    padding: 5vw 8vw;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /* margin-bottom: 10vw; */
}

/* line 183, ../scss/_base.scss */
.content {
    padding-top: 5px;
    /* padding-left: 6vw; */
    line-height: 24px;
    border-top: solid 1px rgba(0, 255, 42, 0.6);
/*    width: 67vw;
*/;
}

/* line 210, ../scss/_base.scss */
.fact, .source {
  display: block;
}

/* line 215, ../scss/_base.scss */
.source {
  font-size: 8px;
}

/* line 220, ../scss/_base.scss */
.vis {
  font-style: italic;
}

/* line 223, ../scss/_base.scss */
.activesection {
  font-family: 'grobe';
  font-size: 4.5vw;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 67vw;
  margin-left: 7vw;
  color: rgba(0, 255, 42, 0.6);
}
/* line 233, ../scss/_base.scss */
.activesection h3 {
  color: white;
  font-size: 4.5vw;
  display: inline;
  opacity: 1;
  font-family: "circular-bold";
  margin-left: 4vw;
/*  border-bottom: solid 1px rgba(0, 255, 42, 0.6);
*/}

/* line 244, ../scss/_base.scss */
.title {
    font-family: 'grobe';
    font-size: 4.5vw;
    display: flex;
    align-items: baseline;
    cursor: pointer;
/*    width: 86vw;
*/    color: rgba(245, 1, 73, 0.7);
    padding-bottom: 5px;
}
/* line 257, ../scss/_base.scss */
.title h3 {
  color: white;
  font-size: 4.5vw;
  display: inline;
  opacity: .7;
  font-family: "circular";
  margin-left: 4vw;
  margin-bottom: 0px;
}

/* line 271, ../scss/_base.scss */
.title:hover {
/*  display: flex;
  align-items: center;*/
  color: rgba(65, 35, 91, 0.6);
  border-bottom: solid 1px rgba(0, 255, 42, 0.6);

}
/* line 275, ../scss/_base.scss */
.title:hover h3 {
  color: white;
  opacity: 1;
/*  font-family: "circular-bold";
*//*  border-bottom: solid 1px rgba(0, 255, 42, 0.6);
*/}

/* line 283, ../scss/_base.scss */
.dyk {
  color: rgba(245, 1, 73, 0.7);
  font-family: "circular-italic";
  font-size: 25px;
}

/* line 289, ../scss/_base.scss */
p.vis {
  color: #856a98;
}

/* line 294, ../scss/_base.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: baseline;
  margin-left: 3vw;
  margin-right: 1vw;
  display: none;
}

/* line 304, ../scss/_base.scss */
p.source {
  font-family: "circular-italic";
  font-size: 12px;
  color: gray;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 920px) {
  /* line 320, ../scss/_base.scss */
  header h1 {
    color: white;
  }
}
@media only screen and (max-width: 768px) {
  /* line 331, ../scss/_base.scss */
  body {
    background-position: top left;
  }

  .title {
        font-size: 7vw;
/*        width: 85vw;
*/        margin-left: 1vw;

  }

  .content {
/*            width: 85vw;
*/
  }

    .title h3 {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 8vw;
  }

/*    header h1 {
    width: 120px;
    font-size: 33px;
    line-height: 37px;
    padding-right: 20px;
    color: white;
  }*/
}


li {
      padding: 5vw 8vw;
    display: block;
    width: 100%;
/*    margin-bottom: 10vw;
*/}


/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* line 340, ../scss/_base.scss */
  ul {
    top: 110px;
  }

  /* line 344, ../scss/_base.scss */
  header {
    color: white;
        margin-top: -11vw;
  }
  /* line 346, ../scss/_base.scss */
/*  header h1 {
    width: 28vw;
    font-size: 8vw;
    line-height: 9vw;
    padding-right: 20px;
    color: white;
  }*/

  /* line 354, ../scss/_base.scss */
  body {
    background-position: top left;
  }

  /* line 358, ../scss/_base.scss */
  li {
    padding: 5vw 8vw;
  }

  /* line 363, ../scss/_base.scss */
  .title {
    margin-top: 20px;
    font-size: 10vw;
  }
  /* line 366, ../scss/_base.scss */


  /* line 372, ../scss/_base.scss */
  .activesection {
    font-size: 8vw;
    margin-top: 20px;
  }
  /* line 375, ../scss/_base.scss */
  .activesection h3 {
    font-size: 8vw;
    margin-left: 30px;
  }
}
