// global stylez


// JUST MAKE SURE THIS FILE IS SHOWING THE SAME RESULT AS YOU WANT THEN COPY IT TO THE MAIN PROJECT 1 FOLDER.

*,*:before,*:after {
	box-sizing:border-box
}

body {

	background: url(../img/bkg2.jpg) no-repeat top left fixed;
	font-family: "circular", sans-serif;
	background-size: cover;
	color: white;

}



@font-face {
    font-family: "grobe";
    src: url(../fonts/grobe-deutschmeister.ttf);
}

@font-face {
    font-family: "circular-italic";
    src: url(../fonts/circular-medium-italic.otf);
}

@font-face {
    font-family: "circular";
    src: url(../fonts/circular-book.otf);
}

@font-face {
    font-family: "circular-bold";
    src: url(../fonts/circular-bold.otf);
}

.container {
	max-width: 100vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

// set all months to hide except default current month


.month {
	display: none;
}

#january {
	display: block;
}

//PAGE STYLES
// links

a:link {
    text-decoration: none;
    color: gray;
}

a:visited {
    color: gray;
}

a:hover {
    color: rgba(245, 1, 73, 1);
}

a:active {
    color: rgba(0, 255, 42, .6);
}



header {
    margin-top: -3vw;
    width: 100%;
    position: fixed;
    h1 {
        font-family: 'grobe';
        width: 10vw;
        line-height: 3.5vw;
        color: #080138;
        font-size: 3.3vw;
        text-align: right;
        float: right;
        margin-right: 3vw;
    }
}


h2 {
    font-family: 'circular';
    color: white;
    opacity: .7;
    font-size: 30px;
    margin-left: 3vw;
    margin-top: 30px;
    position: fixed;
    display: inline;
    float: left;
    vertical-align: baseline;
    margin-right: auto;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

h2:hover {
	color:white;
	    opacity: 1;


}

// month nav arrows
.fa {
    color: #00FF2A;
    top: 12px;
    position: relative;
    font-size: 20px;
    height: 20px;
    width: 18px;
    cursor: pointer;
}

.fa-caret-right {
    margin-left: 8px;
}

.fa:hover {
    color: #e80161;
}

.fa:active {
    color: #a631e2;
}

// hide left january and right december arrows
#janleft {
    opacity: 0;
}

#decright {
    opacity: 0;
}

//-

ul {
    position: absolute;
    top: 150px;
    // padding-left: 170px;
    // padding-right: auto;
    // padding-left: 170px;
    // padding-right: 30px;
    width: 100%;
    padding-left: 0px;
    margin-left: -8px;
    max-height: 85%;
    overflow: scroll
}


li {
    padding: 0vw 15vw;
    display: block;
    width: 100%;
    margin-bottom: 10vw;
}

.content {
    opacity:0;
    height: 0;
    padding: 0 8px;
    overflow: hidden;
    transition: all .8s ease-out .15s;
    margin-top: -5vw;
    padding-left: 15vw;
    line-height: 24px;
    height: 0px;


}

.showcontent {
	margin-top: -2vw;
    opacity:1;
    height: 200px;
    transition: all .8s ease-in .15s;
    padding-left: 15vw;
        line-height: 24px;

    // background-color: pink;

}



.fact, .source {
	display: block;
}


.source {
	font-size: 8px;

}

.vis {
	font-style: italic;
}
.activesection {
    // color:red;
    font-family: 'grobe';
    font-size: 4.5vw;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 67vw;
    margin-left: 7vw;
    color: rgba(0, 255, 42, .6);
    h3 {
        color: white;
        font-size: 4.5vw;
        display: inline;
        opacity: 1;
        font-family: "circular-bold";
        margin-left: 4vw;
        border-bottom: solid 1px rgba(0, 255, 42, .6);
    }
}

.title {
    // margin-left: auto;
    // margin-right: auto;
    font-family: 'grobe';
    font-size: 4.5vw;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 67vw;
    margin-left: 7vw;
    color: rgba(245, 1, 73, .35);
    // -webkit-text-stroke-width: .5px;
    // -webkit-text-stroke-color: rgba(0,255,42,.6);
    h3 {
        // -webkit-text-stroke-width: 0px;
        color: white;
        font-size: 4.5vw;
        display: inline;
        opacity: .7;
        font-family: "circular";
        margin-left: 4vw;
    }
}


.title:hover {
    display: flex;
    align-items: center;
    color: rgba(65, 35, 91, .6);
    h3 {
        color: white;
        opacity: 1;
        font-family: "circular-bold";
        border-bottom: solid 1px rgba(0, 255, 42, .6);
        // background-color: rgba(245,1,73,.6);
    }
}
.dyk {
    color: rgba(245, 1, 73, .7);
    font-family: "circular-italic";
    font-size: 25px;
}

p.vis {
	color:#856a98;

}

img {
    max-width: 100%;
    height: auto;
    vertical-align: baseline;
    margin-left: 3vw;
    margin-right: 1vw;
    display: none;
}

//sources
p.source {
    font-family: "circular-italic";
    font-size: 12px;
    color: gray;
}




    /* Small Devices, Tablets */


//switch to white header
    @media only screen and (max-width : 920px){

   header {
    		h1{
        color: white;
    }
    }


    }
    @media only screen and (max-width : 768px) {



    	body {
    		background-position: top left;
    	}		

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    	ul {
	top:110px;
    	}

    	header {
        color: white;
        h1 {
            width: 26vw;
            font-size: 8vw;
            line-height: 9vw;
            color: white;
        }
    }

    	body {
    		background-position: top left;
    	}

    	li {
    		    padding: 0vw 11vw;
    	}


.title {
        font-size: 8vw;
        margin-top: 20px;
        h3 {
            margin-left: 30px;
            margin-right: 30px;
            font-size: 8vw;
        }
    }
    .activesection {
        font-size: 8vw;
        margin-top: 20px;
        h3 {
            font-size: 8vw;
            margin-left: 30px;
        }
    }


    }